.sideBar {
	grid-column: 1/9;
	grid-row: 1/21;
	background-color: #047895;
	display: grid;
	grid-template-rows: repeat(20, 5%);
}

.sideBar > logo {
	grid-row: 1/6;
	background-color: red;
}

.content {
	grid-column: 9/41;
	grid-row: 1/21;
	background-color: #D5D8DA;
	
	display: grid;
	grid-template-rows: repeat(20, 5%);
	grid-template-columns: repeat(20, 5%);
}

.content > h1 {
	grid-column: 1/20;
	grid-row: 2/4;
	
	text-align: center;
}

.content > h4 {
	grid-column: 4/10;
	grid-row: 5/15;
	background-color: blue;
}
