.sideBar {
	grid-column: 1/9;
	grid-row: 1/21;
	background-color: #047895;
	display: grid;
	grid-template-rows: repeat(20, 5%);
}

.sideBar > logo {
	grid-row: 1/6;
	background-color: red;
}

.content {
	grid-column: 9/41;
	grid-row: 1/21;
	background-color: #D5D8DA;
}

.content > website {
	
}