body {
	background-color: white;
	color: #2a2a30;
	font-family: 'Lucida Console';
	/*Gridlayout*/ margin : 0;
	display: grid;
	grid-template-columns: repeat(40, 2.5%);
	grid-template-rows: repeat(20, 5%);
	margin: 0
}

.sideBar {
	grid-column: 1/8;
	grid-row: 1/14;
	background-color: red;
}

.content {
	grid-column: 8/41;
	grid-row: 1/11;
	background-color: yellow;
}